<html>
        <head>
            <title>Register</title>
        </head>
        <body>
            {{ if . }}
            <div class="error">{{ . }}</div>
            {{ end }}
            <form method="POST">
                <div>Username:<input name="username"></div>
                <div>Password:<input type="password" name="password"></div>
                <div>
                    <button type="submit">Register</button>
                </div>
            </form>
        </body>
    </html>